*{
    font-family: Verdana;
}
body{ background-color:darkblue;
    color:white;
}
h1{text-align:center;
    font-family: Verdana;
}
h2{text-align:center;
    font-family: Verdana;
    font-size:20px;
}
p{text-align:center;
  font-family: Verdana;
  font-size:15px;
}
a:visited{ color:white;
            background-color:transparent;
            text-decoration:underline;
        }
nav {
    text-align: center;
     padding: 20px;
}
.programs {
    width: 80%;
    margin: 30px auto;
}

details {
    background-color:white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    color:darkblue;
}

summary {
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color:white;
    color:darkblue;
}

details ul {
    font-family: Verdana;
    line-height: 2;
    color: darkblue;
}
table th,td{
    border:1px solid black;
    border-collapse:collapse;
}
th,td{
    background-color:white;
    color:darkblue;
}
